<h2 class="register-heading">Registrieren</h2>

{{#if messageregister}}
  <p class="register-message">{{messageregister}}</p>
{{/if}}

<form class="register-form" action="/register" method="POST">
  <label for="name">Username:</label>
  <input class="register-input" name="name" type="text" id="name" />

  <label for="password">Passwort:</label>
  <input class="register-input" name="password" type="password" id="password" />

  <label for="age">Age:</label>
  <input class="register-input" name="age" type="number" id="age" />

  <input class="register-submit" type="submit" value="Registrieren" />
</form>